@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* Configuracion pagina */
:root{
  --color-1:#FF7A5A;
  --color-2:#6766A7;
  --color-3:#FCF4D9;
  --text-color-1:#121010;
  --text-color-2:#000000;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Ubuntu', sans-serif;
}
body{
  background: var(--color-2);
}

/* Estilos menu */

header{
  background-color: var(--color-1);
}
header img{
max-width: 95px;
border-radius: 50px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 2;
  max-width: 1000px;
  margin: 0 auto;
}
nav ul{
  display: flex;
  gap: 15px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    list-style: none;
/*     border:2.5px solid;
    border-radius:20px; */
    padding: 5px;
}

nav ul li a{
text-decoration: none;
font-size: 16px;
color: var(--text-color-2);
font-size:18px;
}

/* Fin estilos menu */


/* Incio estilos contenedor main */
/* main{
  background-color: var(--color-2);
} */

h1{
  text-align: center;
  margin: 44px 0px 107px 0px;
}

.sec-1{
  display: flex;
  
}



