@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
  --color-1:#FF7A5A;
  --color-2:#6766A7;
  --color-3:#FCF4D9;
  --text-color-1:#121010;
  --text-color-2:#000000;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Ubuntu', sans-serif;
}



header{
  background-color: var(--color-1);
}
header img{
max-width: 95px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
