@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* Configuracion pagina */
:root{
  --color-1:#FF7A5A;
  --color-2:#6766A7;
  --color-3:#FCF4D9;
  --text-color-1:#121010;
  --text-color-2:#000000;
  --text-color-3:#F2F0F0;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Ubuntu', sans-serif;
}
body{
  background: var(--color-2);
}

/* Estilos menu */

header{
  background-color: var(--color-1);
}
header img{
max-width: 95px;
border-radius: 50px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 2;
  max-width: 1000px;
  margin: 0 auto;
}
nav ul{
  display: flex;
  gap: 15px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    list-style: none;
/*     border:2.5px solid;
    border-radius:20px; */
    padding: 5px;
}

nav ul li a{
text-decoration: none;
font-size: 16px;
color: var(--text-color-2);
font-size:18px;
}

/* Fin estilos menu */


/* Incio estilos contenedor main */

h1{
  text-align: center;
  margin: 44px 0px 107px 0px;
}

.sec-1 .container-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img .img-1{
  width: 358px;
  height: 396px;
}

.container-img .img-2{
  width: 700px;
  height: 551px;
  margin: 24px;
}

.container-img .img-3{
  width: 358px;
  height: 396px;
}

.sec-1 p{
  text-align: center;
  color: var(--text-color-3);
  font-size: 32px;
  margin: 0 300px 0 300px;
}


/* Estilos secc PP */

.sec-2{
  /* text-align: center; */
  height: 406px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-3);
}

.sec-2 h2{
font-size: 32px;
text-decoration: underline;
}

.sec-2 p{
  font-size: 16px;
  color: var(--text-color-1);
  margin-top: 81px;
  height: 74px;
  text-align: center;
  width: 588px;
}


/* Estilos seccion servicios */
.sec-3{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sub-1{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-4{
  width: 486px;
  height: 396px;
  margin-top: 155px;
  margin-left: 360px;
  margin-right: 26px;
}

.serv-1{
  display: flex;
  flex-direction: column;
}

.serv-1 h3{
  margin-top: 226px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 32px;
}

.serv-1 p{
  text-align: center;
  font-size: 32px;
  width: 686px;
  height: 194px;
}

.sub-2{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.img-5{
  width: 486px;
  height: 396px;
  margin-top: 155px;
  margin-left: 26px;
}

.serv-2{
  display: flex;
  flex-direction: column;
  margin-left: 360px;
}

.serv-2 h3{
  margin-top: 149px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 32px;
}

.serv-2 p{
  text-align: center;
  font-size: 32px;
  width: 686px;
  height: 194px;
}

.sub-3{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-6{
  width: 486px;
  height: 396px;
  margin-top: 155px;
  margin-left: 360px;
  margin-right: 26px;
}

.serv-3{
  display: flex;
  flex-direction: column;
  margin-top: 114px;
  margin-left: 24px;
  margin-bottom: 304px;

}

.serv-3 h3{
  margin-top: 226px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 32px;
}

.serv-3 p{
  text-align: center;
  font-size: 32px;
  width: 686px;
  height: 194px;
}



/* Estilos seccion testimonios */
.sec-4{
  background: var(--color-3);
/*   height: 1080px;
  padding-top:127px; */
}
.sec-4 h3{
  text-align: center;
  font-size: 32px;
  text-decoration: 2px underline;
  padding-top: 127px;

}

.group-1{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 178px;

}

.sub-4{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sub-4 p{
  width: 524px;
  height: 155px;
  text-align: center;
  margin-top: 17px;
  font-size: 32px;
  font-weight: bold;
}



.sub-5{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 24px 0 24px;
}

.sub-5 p{
  width: 524px;
  height: 155px;
  text-align: center;
  margin-top: 35px;
  font-size: 32px;
  font-weight: bold;
}

.sub-6{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sub-6 p{
  width: 524px;
  height: 155px;
  text-align: center;
  margin-top: 17px;
  font-size: 32px;
  font-weight: bold;
}


/* Iinicio pie de pagina */

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 351px;
}
footer p{
  font-size: 32px;
  width: 686px;
  margin-top: 182px;
  margin-bottom: 41px;
  text-align: center;
}

footer svg{
  width: 90px;
  height: 90px;
}

